@import './sass/variables.scss';

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: $fontFamily;
}

body{
  // height: 100vh;
  // background-image: url('./images/bridge1.png');
  // background-position: bottom;
  // background-size: contain;
  // background-repeat: no-repeat;
  // background-color: $bgColor;
  // border: 1px solid red;
}


#squid-widget{
  // border: 2px solid white;
  border-radius: 5px;
  // width: 30%;
}

#squid-widget-header{
  // border: 1px solid orange;
}

#squid-swap-direction-txt{
  font-family: $fontFamily;
}